/* body{
  font-family: "Montserrat";
} */
#title{
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}
.container-fluid{
  padding: 3% 10%;
}
.title-img{
  margin-top: -120px;
  width: 25%;
  transform: rotate(20deg);
  /* z-index: -1; */
  position: absolute;
  left: 50%;
}
.navbar {
  /* padding-bottom: 2rem; */
  margin-left: -11%;
  margin-top: -20px;
  margin-bottom: 40px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-item{
  margin-right:-20px;
  padding: 20px;
  font-size: 22px;
}

.btn{
  margin: 5% 3% 5% 0;
}

/* Feature-section */
#features{
  padding: 7% 15%;
  background-color: white;
  position:relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonil-section */
#testimonials {
  background-color: #ef8172;
}
h2 {
  font-size: 2.5rem;
}
.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item,
#pricing,
#cta,
#footer {
  padding: 7% 15%;
}
.colored-section {
  background-color: #ff4c68;
  color: white;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

