/* body{
  font-family: "Montserrat";
} */
#title{
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat-black", sans-serif;
  font-size: 60px;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: "Montserrat-black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

h3{
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 700;
}
p{
  color: #8f8f8f;

}
.container-fluid{
  padding: 3% 10%;
}
.title-img{
  margin-top: -120px;
  width: 25%;
  transform: rotate(20deg);
  /* z-index: -1; */
  position: absolute;
  left: 50%;
}
.navbar {
  /* padding-bottom: 2rem; */
  margin-left: -11%;
  margin-top: -20px;
  margin-bottom: 40px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-item{
  margin-right:-20px;
  padding: 20px;
  font-size: 22px;
}

.btn{
  margin: 5% 3% 5% 0;
}

/* Feature-section */
#features{
  padding: 7% 15%;
  background-color: white;
  position:relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonil-section */
#testimonials {
  background-color:#ef8172;
  text-align: center;
  color: #fff;
}
h2 {
  font-size: 2.5rem;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item,
#pricing,
#cta,
#footer {
  padding: 7% 15%;
}
.colored-section {
  background-color: #ff4c68;
  color: white;
}


/* Press Section  */
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  padding: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 7% 15%;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
  text-align: center;
}

/* CTA Section */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: "Montserrat-black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Footer Section */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icons{
  padding: 20px 10px;
}
.social-icons:hover{
  color: #ff4c68;
  transform: scale(2);
  transition: 0.3s all ease;
}
@media (max-width:1028px) {

#title{
  text-align: center;
}


.title-img{
  position: static;
  transform: rotate(0);
  margin-top: 10%;
  width: 60%;
}
}
